<div class="container">

  <h2>Registro de datos (CRUD de prueba)</h2>
  <button style="margin-bottom: 20px" mat-raised-button color="primary" routerLink="/collections/view">Visualizar datos</button>

  <mat-card>
    <form class="example-form">
      <table class="example-full-width">
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Nombre Completo</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>CURP</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>NSS</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>Genero</mat-label>
              <input matInput>
            </mat-form-field>
          </td>
        </tr>
      </table>

      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address 2</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>

      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>City</mat-label>
              <input matInput placeholder="Ex. San Francisco">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>State</mat-label>
              <input matInput placeholder="Ex. California">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>Postal Code</mat-label>
              <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
              <mat-hint align="end"> / 5</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
    </form>
  </mat-card>

</div>
